body {
  background-color:#fffbdb;
  max-width: 1000px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
	background-color:#dbfffb;
	padding: 20px;
  text-align: center;
}

p {
  font-family: "Germania one" , system- ui;
  font-size: 40px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
	List-style-type: none;
    background-color:#dbffe1;
    padding: 20px;
    margin: 10px;
}
